.wrapper {
    text-align: center;
    padding-top: 100px;
}

header {
    background: blue;
    font-size: 75px;
    height: 100px;
    position: fixed;
    width: 100%;
    transition: background 0.5s ease-out;
}

img {
    width: 100%;
    max-width: 800px;
}

.red {
    background: red;
}














/*As a user
when I scroll
I want to see the header text shrink
*/