body {
    background-color: #efefef;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 1% auto;
    width: 75%;
    max-width: 960px;
}

header {
    text-align: center;
    margin: 1% 0;
}

nav {
    display: flex;
}

nav a {
    flex: 1;
    padding: 1rem;
    display: block;
    background-color: white;
    text-align: center;
    border: 1px solid #cccccc;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
    background: #cccccc;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin: 0.5rem 0;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

.hero {
    text-align: center;
    margin: 3% 0;
}

.hero img {
    width: 100%;
}

main {
    display: flex;
}

.articles {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.side-column {
    flex-basis: 40%;
    margin-left: 5%;
}

.side-column img {
    width: 100%;
}

.main-article {
    width: 48%;
}

.articles img {
    width: 100%;
}

p {
    margin-bottom: 1rem;
    line-height: 1.2;
}






/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    .articles,
    .side-column,
    .main-article {
        flex-direction: column;
        align-items: center;
    }
}