body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    cursor: default;
}

h1 {
    font-size: 2rem;
    line-height: 1;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    margin: 0 0 1.5rem 0;
}

.button {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background: yellow;
    color: black;
    display: block;
    text-align: center;
    padding: 12px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

header {
    background: black;
    color: white;
    border-bottom: 4px solid yellow;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: inherit;
    text-decoration: none;
}

header h1 {
    color: yellow;
    font-family: 'Merriweather', serif;
    font-size: 1.85rem;
    margin: 20px 0 0 0;
}

header nav {
    display: flex;
}

header nav a,
header nav strong {
    padding: 20px 15px;
}

header nav strong {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.tagline {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 1.5rem 43px;
    font-size: 1.25em;
    line-height: 1em;
    font-style: italic;
    background: #C6C6C6;
    border-top: 1px solid #AAA;
}

.tagline del {
    color: #999;
}

.tagline ins {
    text-decoration: none;
    border-bottom: 3px solid yellow;
}

.banner {
    background: url(../img/coworking.jpg) center center no-repeat;
    background-size: cover;
    background-position: center;
    padding: 43px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .75);
    display: flex;
    justify-content: flex-end;
}

.blurb {
    background: rgba(255, 255, 255, .8);
    padding: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
    flex-basis: 400px;
}

.cta-container {
    background: white;
    display: flex;
    padding: 28px 0;
}

.cta {
    padding: 28px 43px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .15);
}

.cta .button {
    background: #C6C6C6;
}

footer {
    background: black;
    color: white;
    padding: 28px 43px;
}